.App {
    border: 0;
}

svg {
    width: 10000px;
    height: 30000px;
    border: 1px solid black;
}

.Layer {
    font-size: 300%;
    width: 80%;
    text-align:center;
}

root, pre {
    font-family: Helvetica;
}

.Connection {
    stroke-width: 8px;
}

.Token-embedding {
    font-size: 30%;
}

.Layer-name {
    font-size:30%;
    
}

.Layer-headname {
    font-size: 20%;
}

.SentenceEntry input, .SentenceEntry {
    height: 24px;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.SentenceEntry-text {
    width:300px;
}

.Infobox {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 30px;
    background-color: cornsilk;
    border:3px solid black;
    white-space: pre-line;
}

.Program {
    position:fixed;
    top:30px;
    left:30px;
}

.Program textarea {
    font-family: 'Courier New';
}
