.App {
    border: 0;
}

svg {
    border: 1px solid black;
    margin-top: 175px;
}

.Layer {
    font-size: 300%;
    width: 80%;
    text-align:center;
}

root, pre {
    font-family: Helvetica;
}

.Connection {
    stroke-width: 8px;
}

.Token-embedding {
    font-size: 30%;
}

.Layer-name {
    font-size:30%;
    
}

.Layer-headname {
    font-size: 20%;
}

.Header {
    background-color: maroon;
    color: white;
    height:175px;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
}

.Header h1, .Header h3, .Header .link-button {
    margin: 10px 30px;
}

.Header h3 a {
    color:white;
}

form {
    float:right;
}

.SentenceEntry input, .SentenceEntry {
    height: 24px;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.SentenceEntry-text {
    width:600px;
}

.Infobox {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 30px;
    background-color: cornsilk;
    border:3px solid black;
    white-space: pre-line;
}

.Program {
    position:fixed;
    top:30px;
    left:30px;
}

.Program textarea {
    font-family: 'Courier New';
}

.Explanation {
    margin: 200px auto;
    color: black;
    width: 80%;

}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    padding: 0;
    color: white;
}

.Error {
    margin: 200px 30px;
    color: black;
}
